body {
    background-color: #424242;
    font-family: 'Raleway', sans-serif;
}

/*Estilo para el header*/

header {
    text-align: center;
    height: 130px;
    background-color: #1e1e1e;
    font-family: 'Raleway', sans-serif;
    border-bottom: 2px solid #818181;
}

.headerPrincipal {
    padding: 30px 0;
    position: relative;
    width: 85%;
    margin: 0 auto;
}

.logo {
    position: absolute;
    left: 10%;
    height: 70px;
    transition: 500ms all;
    cursor: pointer;
}

.logo:hover {
    transform: scale(1.15);
}

.titulo {
    cursor: default;
    color: #ffffff;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    margin: 25px 0;
    transition: 500ms all;
}

.titulo:hover {
    color: #1d8ccb;
}

/*Estilo para el main*/

main {
    width: 80%;
    margin: 40px auto;
}

.input {
    width: 50%;
    text-align: center;
}

.restriccion {
    font-style: italic;
    font-weight: 200;
    color: #ffffff;
    margin-left: 10px;
}

textarea {
    height: 350px;
    display: block;
    width: 100%;
    margin: 20px 0;
    font-size: 25px;
    border: 2px solid #818181;
    border-radius: 15px;
    padding: 20px;
    background-color: transparent;
    color: #1a1a1a;
}

textarea::placeholder{
    color: #ffffff;
    opacity: 0.6;
    font-style: italic;
}

textarea:focus {
    background-color: #818181;
    outline: 0;
    border: 2px solid #ffffff;
    cursor: default;
}

button {
    padding: 15px 0px 15px 0px;
    width: 200px;
    border-radius: 15px;
    border: 0px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #ffffff;
    margin: 0 15px;
    cursor: pointer;
}

#encriptar {
    background-color: #0d6d5b75;
    transition: 300ms all;
}

#encriptar:hover {
    background-color: #0d6d5b;
}

#desencriptar {
    background-color: #1d8ccb75;
    transition: 300ms all;
}

#desencriptar:hover {
    background-color: #1d8ccb;
}

/*Estilo para el footer*/

footer {
    background-color: #1e1e1e;
    font-family: 'Raleway', sans-serif; 
    text-align: center;
    border-top: 2px solid #818181;
}

.footerPrincipal {
    padding: 30px 0;
    position: relative;
    width: 85%;
    margin: 0 auto;
}

.logoFooter {
    height: 70px;
    transition: 500ms all;
    cursor: pointer;    
}

.logoFooter:hover {
    transform: scale(1.15);
}

.copyrigth {
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
}

.copyrigth a {
    color: #1d8ccb;
    text-decoration: none;
    font-size: 18px;
    transition: 500ms all;
}

.copyrigth a:hover {
    color: #0d6d5c;
}